<% provide(:title, "New") %>
<h1>Submit Suggestion here</h1>

<div class="row">
    <%= form_for (@message) do |f| %>
      
      <% if @message.errors.any? %>
      	<%= "Number already exists" %>
    
      <% end %>

      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.label :number %>
      <%= f.number_field :number %>

	  <%= f.submit "Send the message!" %>
    <% end %>
</div>