<% provide(:title, "Box") %>

<h1>Box</h1>
	<p>This is the box page for the toy project Reclama App</p>
	<h2><%= link_to "Upload your suggestion! <3", new_message_path %></h2>

<div class="row">
  <aside>
      	<% if @messages.any? %>
        <h3> Suggestions (<%= @messages.count %>) </h3>
        <ol>
        	<%= render @messages %>
        </ol>
        <%= will_paginate @messages %>
        <% end %>
  </aside>
</div>

<%= form_tag(messages_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
	<% if @messages.present? %>
  		<%= render @messages %>
	<% else %>
  	<p>There are no posts containing the term(s) <%= params[:search] %>.</p>
	<% end %>
<% end %>