<header>
  <div class="container">
  	<nav class="menu">
				<ul>
					<li id="home"><%= link_to "Home", root_path %></li>

					<li id="about"><%= link_to "About", about_path %></li>

					<li id="help"><%= link_to "Help", help_path %></li>

					<li id="submit"><%= link_to "Submit Suggestion", new_message_path %></li>

					<li id="show"><%= link_to "Box", messages_path(@message, 1)%></li>
				</ul>
			</nav>
  </div>			
  </header>